/* Stylesheet by WebBear WebDesign, Hans-Jakob Bollinger, Sommazzistrasse 9, CH-3008 Bern, www.webbear.ch
------------------------------------------------*/

/* @group resets */

body,table,td,th,div,span,img,p,h1,h2,h3,h4,h5,h6,ul,dl,ol,li,dt,dd {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
input, label, textarea {
	vertical-align: middle;
}

:focus {
	outline: 0;
}
/* @end */

body {
	font: 62.5%/1.3 Verdana, Arial, Helvetica, sans-serif;
	/*background: #E1E1E1 url(images/body-bg.png) repeat-x 0 0;*/
}

/* @group No jump */
html {
	min-height: 100%;
	margin-bottom: 1px;
		}
/* @end */

/* @group Accessibility */

#Accessibility {
	display: none;
}

/* @end */

/* @group Tags */

a, a:link,
a:active {
	color: #455c40;
	text-decoration: none;
}
a:visited {
	color: #5d7352;
}
a:hover {
	text-decoration: underline;
}


h1, h2, h3, h4, h5, h6 {
}
h1 {
	margin: 0 0 0.5em 0;
	padding: 0.1em 0;
	font-size: 1.3em;
}
h1#ContentTitle {
	padding-top: 7px;
}
h2 {
	margin: 0.5em 0;
	padding: 0.2em 0;
	font-size: 1.2em;
}
h3 {
	margin: 0.5em 0;
	padding: 0.2em 0;
	font-size: 1.1em;
}
h4, h5, h6 {
	margin: 0.5em 0;
	padding: 0.2em 0;
	font-size: 1em;
}
p {
	margin: 0.7em 0;
	padding: 0.1em 0;
}

img.left {
	float: left;
	margin: 0 20px 20px 0;
}
img.right {
	float: right;
	margin: 0 0 20px 20px;
}
#ContentContainer {
	font-size: 1.2em;
}
#Sidebar ul {
	list-style: none;
}
#MainContent .Typography ul {
	padding: 5px 0 15px 25px;
	margin: 0;
}

/* @end */

/* @group Min Height */
#Sidebar {
	height: 450px;
}
html>body #Sidebar {
	height: auto !important;
	min-height: 450px;
}

/* @end */

/* @group Layout */

#Container {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	position: relative;
	}
#Header {
	background: #465D41 url(images/header.jpg) no-repeat 0 0;
	height: 149px;
	position: relative;
}
h1#SiteTitle {
	position: absolute;
	width: 940px;
	top: 179px;
	left: 10px;
	padding: 0;
	font-size: 2.4em;
	font-weight: normal;
}
h1#SiteTitle a {
	color: #000;
	text-decoration:none;
}
h1#SiteTitle a:hover {
	text-decoration: none;
}
/* @group main navigation */

#MainNavigation {
	position: absolute;
	width: 940px;
	bottom: 0;
	left: 10px;
}
* html #MainNavigation {
	bottom: -1px;
}

#MainNavigation ul {
	list-style: none;
	}
#MainNavigation li {
	float: left;
	margin: 0;
	padding: 0 0 0 5px;
	background: url(images/MainNav-Tab-left32.png) no-repeat 0 0;
	position: relative;
	}
* html #MainNavigation li {
	background-image: url(images/MainNav-Tab-left.png);
}
#MainNavigation ul li a{
	color: #E0D8B9;
	display: block;
	margin: 0;
	padding: 0 10px 0 5px;
	background: url(images/MainNav-Tab-right32.png) no-repeat right 0;
	line-height: 30px;
	font-size: 1.2em;

}
* html #MainNavigation ul li a{
	background-image: url(images/MainNav-Tab-right.png);
}
#MainNavigation li a:hover {
	color: #fff;
	text-decoration: none;
}
#MainNavigation li.active {
	color: #fff;
	background-image: url(images/MainNav-Tab-selected-left32.png);
}
* html #MainNavigation li.active {
	background-image: url(images/MainNav-Tab-selected-left.png);
}
#MainNavigation li.active a {
	color: #fff;
	background-image: url(images/MainNav-Tab-selected-right32.png);
}
* html #MainNavigation li.active a/*:link,
* html #MainNavigation li.active a:visited,
* html #MainNavigation li.active a:active*/ {
	color: #fff;
	background-image: url(images/MainNav-Tab-selected-right.png);
}

#MainNavigation ul li ul {
	display: none;
	background: url(images/dropdown-bg.png) no-repeat left bottom;
	width: 230px;
	position: absolute;
	top: 30px;
	left: 0;
	float: none;
	padding-bottom: 10px;

}
#MainNavigation ul li ul li {
	background-image: none;
	float: none;
	margin: 0 6px;
}
#MainNavigation ul li ul li a {
	background-image: none;
	float: none;
	display: block;
	padding: 6px 0;
	line-height: 1.2;
	border-bottom: 1px solid #1c251a;
}
#MainNavigation ul li.active ul li, #MainNavigation ul li.active ul li a {
	background-image: none;
}

#MainNavigation ul li ul li.lastChild a {
	/*border-bottom: none;*/
}
#MainNavigation ul li:hover ul {
	display: block;
}
/* @end */
#ContentContainer {
	padding: 80px 10px 20px 10px;
}
#MainContent {
	width: 640px;
	float: left;
}

#MainContent div.Typography {
	padding-bottom: 40px;
}

/* @group Sidebar */

#Sidebar {
width: 230px;
float: right;
}
#Sidebar div.Typography {

}
#SubNavigation {
	background:  url(images/SubNav-top.png) no-repeat 0 0;
}
#SubNavigation a {
	color: #E0D8B9;
}
#SubNavigation a.active {
	color: #fff;
}
#SubNavigation a:hover {
	color: #fff;
	text-decoration: none;
}
#SubNavigation ul {
	list-style: none;
	background: url(images/SubNav-ul-bottom.png) no-repeat 0  bottom;
	padding: 0	0	20px 0;
}
#SubNavigation h2 {
	padding: 8px 10px 9px 10px;
	background: url(images/SubNav-startItem-bottom.png) no-repeat 0 bottom;
	font-size: 1.2em;
}
#SubNavigation h2.parent {
	background-image: url(images/SubNav-startItem-parent-bottom.png) ;
}
#SubNavigation ul li {
	padding: 3px 10px;

}
#SubNavigation ul li.firstChild {
	/*background: url(images/SubNav-firstChild-gradient.png) no-repeat 0 0;*/
	padding-top: 10px;

}
#SubNavigation ul li ul,
#SubNavigation ul li ul li.firstChild {
	background-image: none;
}
#SubNavigation ul li ul {
	padding-bottom: 2px;
}
#Sidebar div.News {
	background: #f4f4f4 url(images/News-top.png) no-repeat 0 0;
	margin: 40px 0;
}
#Sidebar div.News h2 {
	margin: 0;
	padding:8px 10px 9px 10px;
	border-bottom: 1px solid #c4c4c4;
}

#Sidebar div.News ul {
	background: url(images/News-bottom.png) left bottom ;
	padding:5px 0 10px ;
}

#Sidebar div.News ul li {
	margin: 0 10px;
	border-bottom: 1px solid #d4d4d4;
	padding: 7px 0;

}
#Sidebar div.News ul li.lastChild {
	border-bottom: none;
}
/* @end */

/* @group Footer */

#Footer {
	clear: both;
	background: #465D41 url(images/footer-rc-bg.png) no-repeat 0 0;
	margin: 0 10px;
	padding: 10px;
	color: #fff;
	}
#Footer a {
	color: #fff;
}
#Footer ul {
	list-style: none;
}
#Webbear {
	display: none;
}
#Address {
	float: left;
	width: 400px;
}
#Address img {
	float: left;
	margin: 0 ;
}
#Address ul {
	margin-left: 88px;
}
#UtilityMenu {
	list-style: none;
	width: 220px;
	float: right;
}

/* @end */

/* @end */

/* @group Contents */


/* @group Orgeln */

table.Dispo {
	width:  40em;
	margin: 0 0 10px;
}
#MainContent ul.Gallery {
	list-style: none;
	margin: 20px 0;
	padding: 0;
}
ul.Gallery li {
	float: left;
	padding: 0 10px 10px 0;
	margin: 0;
}
blockquote {
	margin: 0;
	/*font-size: 0.9em;*/
	color: #666;
}
/* @end */
/* @group Statuten */

#page14 #MainContent ul {
	list-style: none;
	padding: 5px 0;
}
#page14 #MainContent ol {
	padding: 0 0 5px 30px;
}
#page14 #MainContent dt {
	font-weight: bold;
	margin: 0.5em 0;
	padding: 0.2em 0;
	font-size: 1.2em;
}
#page14 #MainContent p {
	margin: 0.5em 0;
}
#page14 #MainContent ul li {
	margin-bottom: 10px;
}
#page14 #MainContent ol li {
	margin-bottom: 0;
}
#page14 #MainContent ul ul {
	padding-bottom: 0;
}
/* @end */

/* @group Vorstand */

#page13 #MainContent ul {
	list-style: none;
	padding-left: 0;
}
#page13 #MainContent ul li {
	clear: both;
	margin: 10px 0;
	padding: 10px 0;
}

/* @end */

.Intro {
	margin: 7px 0 20px 0;
	padding: 10px;
	background: #67a7b1 url(images/Intro-bg.jpg)  0 0;
	color: #fff;
	font-size: 1.3em;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	font-family: Georgia, Palatino, Times, serif;
}
#page1 h1#ContentTitle {
	display: none;
}

/* @group Agenda/Archiv */
#page18 div.Archives ul {
	list-style: none;
	padding: 5px 0;
}
#page18 div.Archives li {
	margin-bottom: 20px;
}
#page18 div.Archives li p {
	margin: 4px 0;
}

#page18 div.Archives dt {
	font-size: 1.1em;
	font-weight: bold;
	margin: 7px 0;
}
#page10 ul.Calendar {
	list-style: none;
	padding: 5px 0 15px 0;
}

/* @end */

/* @group Impressum*/

#page8 #MainContent .Address {
	list-style: none;
	padding: 5px 0 20px 0;
}
#MainContent .Disclaimer {
	border: 1px solid #c4c4c4;
	padding: 5px;
	margin: 10px 0;
	font-size: 0.9em;
}
#MainContent .Disclaimer ul {
	list-style: none;
	padding: 5px 0 10px 0;
}
/* @end */

/* @group Anchor Icons */

a[href $='.pdf'] {
	padding-right: 0;
	background: transparent url(images/icons/pdf.png) no-repeat left;
	padding-left: 20px;
}

a[href ^="mailto"] {
	padding-right: 0;
	background: transparent url(images/icons/email_link.png) no-repeat left;
	padding-left: 20px;
}

a[href $='.doc'] {
	padding-right: 0;
	background: transparent url(images/icons/doc.png) no-repeat left;
	padding-left: 20px;
}

#MainContent a[href^="http"],
#Webbear a[href^="http"] {
	background: transparent url(images/icons/Icon_External_Link.png) no-repeat right;
	padding-right: 15px;
}

/* @end */

/* @end */

/* @group Clearing */
ul li {
	clear: both;
}
.Group:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }
* html .Group {
	height: 1%;
}


*:first-child+html .Group {
	min-height: 1%;
}

/* @end */


/*-----------------------------------------------
 Die Grille sagt, ich mag dich sehr, du grosser, dicker Grizzlybär. */