/* @group Reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, main, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '"';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

:focus {
  outline: 0; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

/* @end */
/* @group default margin/padding */
/*let's start with the lists*/
/* @end */
/* @group Forms */
form {
  margin: 0; }

legend {
  border: 0;
  *margin-left: -7px;
  text-shadow: 0 1px 1px #d4d4d4; }

input, select, label {
  vertical-align: middle; }

button, input, select, textarea {
  font-size: 100%; }

button, input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

/* @end */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font: 100%/1.5 verdana, sans-serif;
  background: #E1E1E1 url(../images/body-bg.png) repeat-x 0 0;
  -webkit-text-size-adjust: none; }

img {
  max-width: 100%;
  height: auto; }

h1 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: .75em; }

h2 {
  font-size: 17px;
  font-size: 1.0625rem;
  font-weight: bold;
  margin: .75em 0 .5em 0; }

h3 {
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1.25em;
  margin-bottom: .25em; }

h4, h5, h6 {
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1.3em;
  margin-bottom: .5em; }

hr {
  clear: both;
  padding: 6px;
  background: 0 none;
  border-top-color: transparent; }

@media (min-width: 768px) {
  .body {
    font-size: 0.75rem; } }

p {
  margin: 0 0 .5em 0; }

a {
  color: #455c40;
  text-decoration: none;
  font-weight: normal; }

a:hover {
  text-decoration: underline; }

blockquote {
  margin-left: 0;
  padding-left: 1.5em;
  padding-right: 2em;
  border-left: 4px solid #ddd;
  font-style: italic;
  color: #777; }

pre, code {
  background: #fff;
  border: 1px solid #455c40; }

pre {
  font-size: 14px;
  line-height: 1.4em;
  padding: 1em;
  border-left: 4px solid #455c40; }

.main-content ul.no-list-type {
  list-style: none;
  padding: 0;
  margin: 0; }

.container {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background: #fff; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 768px) {
    .container {
      padding: 0 20px;
      background: transparent; } }

.header {
  background-color: #465D41;
  position: relative; }
  .header img {
    display: block; }

.top-bar {
  background: transparent;
  zoom: 1;
  display: none; }
  .top-bar:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  @media (min-width: 768px) {
    .top-bar {
      display: block;
      position: absolute;
      bottom: 0;
      left: 12px;
      right: 12px; } }

.top-nav li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.75rem; }

.top-nav > ul > li {
  float: left;
  position: relative; }
  .top-nav > ul > li > a {
    background: #465D41;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid #3b4e37;
    border-bottom-width: 0;
    padding: 0 10px;
    line-height: 30px;
    color: #E0D8B9;
    -webkit-box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.25) inset;
            box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.25) inset;
    background: -webkit-gradient(linear, left top, left bottom, from(#4f6949), color-stop(#61815a), to(#3b4e37));
    background: linear-gradient(#4f6949, #61815a, #3b4e37); }
  .top-nav > ul > li.current > a,
  .top-nav > ul > li.active > a {
    color: #fff;
    background: #2f3f2c;
    /* For Safari 5.1 to 6.0 */
    /* For Opera 11.1 to 12.0 */
    /* For Firefox 3.6 to 15 */
    background: -webkit-gradient(linear, left top, left bottom, from(#465D41), color-stop(#2f3f2c), to(#465D41));
    background: linear-gradient(#465D41, #2f3f2c, #465D41);
    /* Standard syntax */ }

.page-1 .header .topnav > .nav-item-1 > a {
  color: #fff;
  background: #2f3f2c;
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: -webkit-gradient(linear, left top, left bottom, from(#465D41), color-stop(#2f3f2c), to(#465D41));
  background: linear-gradient(#465D41, #2f3f2c, #465D41);
  /* Standard syntax */ }

.top-nav li a {
  padding: .9em 1.25em;
  text-decoration: none;
  display: block;
  background: transparent;
  color: #fff;
  -webkit-transition: background 300ms ease;
  transition: background 300ms ease; }

.top-nav > ul > li:hover > a,
.top-nav li a:hover {
  color: #fff; }

.top-nav li.current > a {
  color: #fff; }

.top-nav ul li ul {
  position: absolute;
  top: 31px;
  left: -99999px;
  background: transparent;
  -webkit-transition: background 300ms ease;
  transition: background 300ms ease;
  padding: 10px 0;
  width: 230px; }
  .top-nav ul li ul li {
    display: block;
    width: auto;
    float: none; }
    .top-nav ul li ul li a {
      line-height: 1.2;
      display: block;
      margin: 0 10px;
      padding: 6px 0;
      color: #E0D8B9;
      border-bottom: 1px solid #020302; }
    .top-nav ul li ul li:last-child a {
      border-bottom: 0 none; }
    .top-nav ul li ul li.active > a, .top-nav ul li ul li.current {
      color: #fff; }

.top-nav ul li:hover ul {
  left: 0;
  background: #465d41;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

form.search {
  float: right;
  margin: 0;
  width: 22.8571428571%; }

form.search input {
  margin: 0;
  padding: 0.25em 0.5em;
  border: 1px solid #465D41;
  width: 100%;
  background: #90ad8a;
  color: #465D41;
  display: inline-block;
  margin: .1em 0 0 0; }

form.search button {
  display: none; }

.breadcrumbs {
  clear: both;
  padding: 1em 0;
  margin: .5em 0;
  border-top: 1px solid #465D41; }
  .breadcrumbs li {
    list-style: none;
    display: inline-block;
    margin: 0 .75em 0 0;
    color: #5d7352; }
    .breadcrumbs li a {
      color: #5d7352; }

.breadcrumbs li:after {
  content: ">";
  color: #5d7352;
  padding-left: 0.5em;
  padding-right: 0.25em; }

.breadcrumbs li.last:after {
  content: ""; }

.site-title {
  padding: 1em  0;
  margin: 0;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.3; }
  .site-title a {
    color: #000; }
    .site-title a:hover {
      color: #000;
      text-decoration: none; }

.body {
  padding: 1em 12px;
  background: #fff;
  zoom: 1;
  clear: both; }
  .body:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.main-content h1 {
  font-size: 1.125rem;
  margin-bottom: .75em; }

.main-content,
.sidebar {
  padding-bottom: 2em; }
  .main-content ul,
  .sidebar ul {
    padding: 0;
    margin: .5em 0 .5em 1.2em; }
    .main-content ul.nav,
    .sidebar ul.nav {
      margin-left: 0; }

@media (min-width: 768px) {
  body.has-sidebar .main-content {
    width: 74.2857142857%;
    float: left;
    margin-right: 2.8571428571%; } }

@media (min-width: 768px) {
  body.has-sidebar .sidebar {
    width: 22.8571428571%;
    float: right;
    margin-right: 0; } }

.nav {
  margin-left: 0;
  padding-left: 0;
  list-style: none; }

.nav .nav {
  padding-left: 1.5em;
  list-style: disc; }

.nav li {
  margin: 1em 0; }

.nav-tree li {
  margin-top: 0;
  margin-bottom: 0; }

.nav-tree li a {
  color: #455c40; }

.sidebar .sub-nav {
  display: none;
  background: #465D41;
  background: -webkit-gradient(linear, left top, left bottom, from(#4f6949), color-stop(#61815a), to(#465D41));
  background: linear-gradient(#4f6949, #61815a, #465D41);
  border-radius: 6px; }
  @media (min-width: 768px) {
    .sidebar .sub-nav {
      display: block; } }
  .sidebar .sub-nav ul li {
    list-style: none; }
  .sidebar .sub-nav a {
    color: #E0D8B9;
    font-size: 0.75rem;
    font-weight: normal;
    display: block; }
    .sidebar .sub-nav a:hover {
      text-decoration: none;
      color: #fff; }
  .sidebar .sub-nav > ul > li > a {
    color: #fff;
    font-size: 1rem;
    margin: 0;
    padding: 8px 10px; }
  .sidebar .sub-nav ul {
    margin: 0;
    padding: 0; }
  .sidebar .sub-nav ul ul {
    border-top: 1px solid #192117;
    padding: 10px 0 10px 0; }
    .sidebar .sub-nav ul ul li {
      margin: 0;
      padding: 2px 10px; }
      .sidebar .sub-nav ul ul li.current > a {
        color: #fff; }

.align_left {
  /* for images placed in rich text editor */
  float: left;
  margin: 0 1em 0.5em 0;
  max-width: 50%; }

.align_right {
  /* for images placed in rich text editor */
  float: right;
  margin: 0 0 0.5em 1em;
  max-width: 50%; }

.align_center {
  /* for images placed in rich text editor */
  display: block;
  margin: 1em auto; }

.footer {
  clear: both;
  background: #fff;
  padding: 20px 12px 0 12px;
  color: #fff; }
  .footer ul {
    list-style: none; }
  .footer a {
    color: #fff; }
  .footer .footer-widgets {
    margin: 0;
    padding: 10px;
    background: #465D41;
    zoom: 1; }
    @media (min-width: 768px) {
      .footer .footer-widgets {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px; } }
    .footer .footer-widgets .item.utilities {
      clear: both;
      padding-top: 2em;
      text-align: center; }
    @media (min-width: 768px) {
      .footer .footer-widgets .item.utilities {
        clear: none;
        padding-top: 0;
        text-align: left; } }
    @media (min-width: 768px) {
      .footer .footer-widgets {
        font-size: 0.75rem; } }
    .footer .footer-widgets:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .footer .footer-widgets .address p,
    .footer .footer-widgets .address img {
      float: left; }
    .footer .footer-widgets .address p {
      margin-right: -78px; }
    @media (min-width: 768px) {
      .footer .footer-widgets .address {
        width: 65.7142857143%;
        float: left;
        margin-right: 2.8571428571%; } }
    .footer .footer-widgets .address ul {
      float: left;
      margin-left: 88px; }
    @media (min-width: 768px) {
      .footer .footer-widgets .utilities {
        width: 22.8571428571%;
        float: right;
        margin-right: 0; } }

.edit {
  position: absolute;
  top: 0;
  right: 0; }
  .edit a {
    text-decoration: none;
    font-size: 12px;
    display: block;
    background: #990000;
    color: #fff;
    padding: .5em .75em; }

.logout-link {
  text-align: right; }
  .logout-link a {
    text-decoration: none;
    font-size: 12px;
    display: inline-block;
    background: #990000;
    color: #fff;
    padding: .5em .75em; }

.mobile-header {
  background: #465D41; }
  @media (min-width: 768px) {
    .mobile-header {
      display: none; } }
  .mobile-header .menu-toggle {
    font-size: 28px;
    line-height: 50px;
    color: #fff;
    display: inline-block;
    padding: 0 20px; }

.mm-container {
  position: absolute;
  z-index: 300;
  top: 62px;
  left: 12px;
  right: 12px;
  background: #465D41; }
  .mm-container form.search {
    float: none;
    width: 50%;
    background: #465D41;
    padding: .5em; }

.mobile-menu ul, .mobile-menu li, .mobile-menu a {
  background: #465D41;
  -webkit-transition: background 0 ease;
  transition: background 0 ease; }

.mobile-menu li a {
  color: #E0D8B9;
  padding: 9px  12px;
  display: block;
  border-bottom: 1px solid #fff; }

.mobile-menu li.current > a,
.mobile-menu li.active > a {
  color: #fff;
  font-weight: bold; }

.mobile-menu li li a {
  padding-left: 36px;
  font-size: 14px; }

.page-1 .mobile-menu .topnav > .nav-item-1 > a {
  color: #fff;
  font-weight: bold; }

input[type=text],
input[type=email],
textarea {
  border: 1px solid #465D41;
  -webkit-appearance: none;
  padding: 8px 10px;
  display: block;
  width: 400px;
  max-width: 100%;
  font-size: 16px;
  line-height: 1.1;
  font-family: "Helvetica", Arial, sans-serif; }

input[type=checkbox] {
  margin-right: 8px; }

textarea {
  height: 200px; }

input[type=submit],
button {
  display: inline-block;
  margin: 20px 0;
  padding: 12px 18px;
  border: 1px solid #465D41;
  background: #465D41;
  color: #fff;
  -webkit-transition: background 200ms ease;
  transition: background 200ms ease;
  cursor: pointer;
  -webkit-appearance: none; }
  input[type=submit]:hover,
  button:hover {
    background: #5d7b56; }

.Inputfields > .Inputfield {
  margin-bottom: 8px; }

.InputfieldCheckbox .InputfieldHeader {
  display: none; }

.error {
  color: red; }

#wrap_Inputfield- {
  display: none; }

.InputfieldStateRequired label:after {
  content: " *";
  color: #465D41; }

.ui-state-error {
  color: red; }

iframe.youtube {
  min-width: 100%;
  max-width: 100%; }

.homepage .main-content .rte p:first-child {
  font-family: "Georgia", Palatino, Times, serif;
  font-size: 1rem;
  line-height: 1.3;
  color: #fff;
  background: #465D41 url(../images/intro-bg.jpg) 0 0;
  padding: 10px;
  border-radius: 8px; }

.homepage iframe {
  margin: 12px 0; }

.events-archives {
  margin: 2em 0 0 0;
  padding: 2em  0 0 0;
  border-top: 1px solid #ddd;
  zoom: 1; }
  .events-archives:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .events-archives p {
    font-size: 1rem; }
    @media (min-width: 768px) {
      .events-archives p {
        font-size: 0.875rem; } }
  .events-archives ul.archive-by-year {
    list-style: none;
    margin: .5em 0; }
    .events-archives ul.archive-by-year li {
      margin: 0 0 1em 0; }
      @media (min-width: 768px) {
        .events-archives ul.archive-by-year li {
          margin: 0 0 .5em 0; } }
      .events-archives ul.archive-by-year li.current a {
        font-weight: bold; }

h2.title-archives {
  font-size: 1.125rem;
  margin: 0 0 1em 0; }

.archives h2,
.presse-listing h2,
.events h2 {
  font-size: 1rem;
  margin: 0 0 .5em 0; }

.archives h3,
.presse-listing h3,
.events h3 {
  font-size: 1rem;
  margin: 0 0 .25em 0; }
  @media (min-width: 768px) {
    .archives h3,
    .presse-listing h3,
    .events h3 {
      font-size: 0.875rem; } }

.archives li,
.presse-listing li,
.events li {
  background: url(../images/flower.jpg) no-repeat 50% bottom;
  padding: 24px 0 50px 0; }
  .archives li:first-child,
  .presse-listing li:first-child,
  .events li:first-child {
    padding-top: 0; }
  .archives li:last-child,
  .presse-listing li:last-child,
  .events li:last-child {
    background-image: none;
    padding-bottom: 10px; }

ul.organs {
  zoom: 1; }
  .main-content ul.organs {
    margin-top: 1.25rem;
    padding-top: 1.25rem;
    border-top: 1px solid #ddd; }
  ul.organs h2 {
    font-size: 1rem;
    margin: 0 0 .5em 0; }
  ul.organs h3 {
    font-size: 1rem; }
    @media (min-width: 768px) {
      ul.organs h3 {
        font-size: 0.875rem; } }
  ul.organs:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  ul.organs li {
    clear: both;
    float: left;
    width: 100%;
    margin-bottom: 1.25rem; }
    ul.organs li .image {
      width: 30.7692307692%;
      float: left;
      margin-right: 3.8461538462%; }

ul.vorstand {
  list-style: none;
  margin: 10px 0;
  padding: 0;
  float: left;
  width: 100%;
  clear: both; }

ul.vorstand li {
  margin: 10px 0;
  float: left;
  width: 100%;
  clear: both; }

a[href$='.pdf']:before {
  font-family: 'FontAwesome';
  font-size: 1rem;
  display: inline-block;
  content: "\f1c1";
  margin-right: 6px; }

a[href^="mailto"]:before {
  font-family: 'FontAwesome';
  font-size: 1rem;
  display: inline-block;
  content: "\f003";
  margin-right: 6px; }

a[href$='.docx']:before,
a[href$='.doc']:before {
  font-family: 'FontAwesome';
  font-size: 1rem;
  display: inline-block;
  content: "\f1c2";
  margin-right: 6px; }

.main-content a[href^="http"]:after {
  font-family: 'FontAwesome';
  font-size: 1rem;
  display: inline-block;
  content: "\f08e";
  margin-left: 6px; }

/*********************************************************************
 * 5. Media queries for responsive layout
 *
 */
@media only screen and (max-width: 768px) {
  /* mobile layout */
  body,
  td,
  textarea {
    font-size: 100%; }
  .align_left, .align_right, .align_center {
    display: block;
    float: none;
    margin: 1em auto;
    max-width: 100%; } }

@media only screen and (min-width: 1200px) {
  /* extra-wide desktop layout */
  body, td, textarea {
    font-size: 115%; } }

@media print {
  body {
    background-color: #fff;
    background-image: none; }
  .mobile-menu,
  .mobile-header,
  .mm-container,
  .top-bar,
  .footer .utilities,
  .footer-widgets img {
    display: none !important; }
  .footer .footer-widgets .address ul {
    margin-left: 0; } }
