



//////////////////////////////////////////////
/// variables
//////////////////////////////////////////////

// colors
$primary-color: #465D41;
$secondary-color: #5d7352;

$nav-link-color: #E0D8B9;
$border-color: #ddd;
$white: #fff;
$black: #000;
$red: red;
$link-color: #455c40;
$link-color-active: $white;
$top-bar-bg-color: $primary-color;
$breadcrumbs-color: $secondary-color;
$footer-color: $secondary-color;

$mobile-bg-color: $primary-color;
$mobile-border-color: $white;

$dropdown-bg: darken($primary-color, 5%);

// others
$small: 768px;
$large: 1200px;

@mixin topBar() {
  background: $primary-color;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: 1px solid darken($primary-color, 5%);
  border-bottom-width: 0;
  padding: 0 10px;
  //margin: 0 1px 0 0;
  line-height: 30px;
  color: $nav-link-color;
  box-shadow: -1px -1px 2px  rgba($white, 0.25) inset; //$nav-link-color
  background: -webkit-linear-gradient(lighten($primary-color, 4%), lighten($primary-color, 12%), $dropdown-bg); //For Safari 5.1 to 6.0
  background: -o-linear-gradient(lighten($primary-color, 4%), lighten($primary-color, 12%), $dropdown-bg); //* For Opera 11.1 to 12.0
  background: -moz-linear-gradient(lighten($primary-color, 4%), lighten($primary-color, 12%), $dropdown-bg); //* For Firefox 3.6 to 15
  background: linear-gradient(lighten($primary-color, 4%), lighten($primary-color, 12%), $dropdown-bg); //* Standard syntax */
}

@mixin currentTopBar() {
  color: $white;
  background: darken($primary-color, 10%);
  background: -webkit-linear-gradient($primary-color, darken($primary-color, 10%), $primary-color); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($primary-color, darken($primary-color, 10%), $primary-color); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($primary-color, darken($primary-color, 10%), $primary-color); /* For Firefox 3.6 to 15 */
  background: linear-gradient($primary-color, darken($primary-color, 10%), $primary-color); /* Standard syntax */
}

@mixin navWidget() {
  ul li {
    list-style: none;
  }
  $gradStart: lighten($primary-color, 4%);
  $gradCenter: lighten($primary-color, 12%);
  $gradEnd: $primary-color;
  background: $primary-color;
  background: -webkit-linear-gradient($gradStart, $gradCenter, $gradEnd); //For Safari 5.1 to 6.0
  background: -o-linear-gradient($gradStart, $gradCenter, $gradEnd); //* For Opera 11.1 to 12.0
  background: -moz-linear-gradient($gradStart, $gradCenter, $gradEnd); //* For Firefox 3.6 to 15
  background: linear-gradient($gradStart, $gradCenter, $gradEnd); //* Standard syntax */

  //border-top-left-radius: 10px;
//  border-top-right-radius: 10px;
  border-radius: 6px;
}

@mixin fa() {
  font-family: 'FontAwesome';
  font-size: px2rem(16);
  display: inline-block;
}