@import "./susy/susy";
@import "./breakpoints/breakpoint";
@import "./webbear/webbear";


/////////////////////////////////////////////
//  variables
/////////////////////////////////////////////
$susy:(
columns:12,
global-box-sizing: border-box,
gutters: 1/2,
container: 1040px,
debug: (image: hide)
);



@import "base";

/////////////////////////////////////////////
//  layout start
/////////////////////////////////////////////


* {
	@include box-sizing;
}

body {
	font: 100%/1.5 verdana, sans-serif;
  background: #E1E1E1 url(../images/body-bg.png) repeat-x 0 0;
  -webkit-text-size-adjust: none;
}

body,
td,
input[type=text],
textarea {

}


//////////////////////////////////////////////
/// common
//////////////////////////////////////////////

img {
	max-width: 100%;
	height: auto
}

h1,h2,h3,h4,h5,h6 {
	//color: $primary-color;
}
h1 {
	@include font-size(24);
	font-weight: bold;
	margin-bottom: .75em;
}
h2 {
	@include font-size(17);
	font-weight: bold;
	margin: .75em 0 .5em 0;
}
h3 {
	@include font-size(16);
	font-weight: bold;
	margin-top: 1.25em;
	margin-bottom: .25em;
}
h4,h5,h6 {
	@include font-size(16);
	font-weight: bold;
	margin-top: 1.3em;
	margin-bottom: .5em;
}

hr {
	clear: both;
	padding: 6px;
	background: 0 none;
	border-top-color: transparent;

}

.body {

  @include breakpoint($small) {
    font-size: px2rem(12);
  }

}
p {

	margin: 0 0 .5em 0;
}

a {
	color: $link-color;
	text-decoration: none;
  font-weight: normal;

}
a:hover {
	//color: $link-color-active;
  text-decoration: underline;
}

blockquote {
	margin-left: 0;
	padding-left: 1.5em;
	padding-right: 2em;
	border-left: 4px solid #ddd;
	font-style: italic;
	color: #777;
}

pre, code {
	background: $link-color-active;
	border: 1px solid $link-color;
}

pre {
	font-size: 14px;
	line-height: 1.4em;
	padding: 1em;
	border-left: 4px solid $link-color;
}

.main-content ul.no-list-type {
  list-style: none;
  padding: 0;
  margin: 0;
}

//////////////////////////////////////////////
/// layout
//////////////////////////////////////////////

.container {
	@include container;
	padding: 0 ;
  background: $white;
  @include breakpoint($small) {
    padding: 0 20px;
    background: transparent;
  }

}
.header {
  background-color: $primary-color;
  position: relative;
  img {
    display: block;
  }
}

//////////////////////////////////////////////
/// top bar
//////////////////////////////////////////////

.top-bar {
	background: transparent;
	@include clearfix;
	display: none;
	@include breakpoint($small) {
		display: block;
    position: absolute;
    bottom: 0;
    left: 12px;
    right: 12px;
	}
}

.top-nav {
	//@include container;
//  padding: 0 gutter(12);
	//padding:0 gutter(12);

}

.top-nav li {
	list-style: none;
	padding: 0;
	margin: 0;
  font-size: px2rem(12);
}

.top-nav > ul > li {
	float: left;
	position: relative;

  > a {
    @include topBar;
  }
  &.current > a,
  &.active > a {
    @include currentTopBar;
  }
}
.page-1 .header .topnav> .nav-item-1>a {
  @include currentTopBar;
}
.top-nav li a {
	padding: .9em 1.25em;
	text-decoration: none;
	display: block;
	background: transparent;
	color: #fff;
	transition: background 300ms ease;
}


.top-nav>ul>li:hover>a,
.top-nav li a:hover {
	//background: lighten($top-bar-bg-color, 30%);
  color: $white;
}

.top-nav li.current>a {
  color: $white;
}
//.top-nav li.current a {
//    background: lighten($top-bar-bg-color, 30%);
//    color: $top-bar-bg-color;
//}

.top-nav ul li ul {
	position: absolute;
	top: 31px;
	left: -99999px;
	background: transparent;
	transition: background 300ms ease;
  padding: 10px 0;
	width: 230px;
  li {
    display: block;
    width: auto;
    float: none;
    a {
      line-height: 1.2;
      display: block;
      margin: 0 10px;
      padding: 6px 0;
      color: $nav-link-color;
      border-bottom: 1px solid darken($primary-color, 30%);
    }
    &:last-child a {
      border-bottom: 0 none;
    }
    &.active > a,
    &.current {
      color: $white;
    }
  }
}
.top-nav ul li:hover ul {
	left: 0;
	background: lighten($dropdown-bg, 5%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

form.search {
	float: right;
	margin: 0;
	width: span(3 of 12);
}

form.search input {
	margin: 0;
	padding: 0.25em 0.5em;
	border: 1px solid $primary-color;
	width: 100%;
	background: lighten($top-bar-bg-color, 30%);
	color: $primary-color;
	display: inline-block;
	margin: .1em 0 0 0;
}

form.search button {
	display: none;
}


//////////////////////////////////////////////
/// breadcrumbs
//////////////////////////////////////////////


.breadcrumbs {
	clear: both;
	padding:1em 0;
	margin: .5em 0;
	border-top:1px solid $primary-color;

	li {
		list-style: none;
		display: inline-block;
		margin: 0 .75em 0 0;
		color: $breadcrumbs-color;
		a {
			color: $breadcrumbs-color;
		}
	}
}
.breadcrumbs li:after {
	content: ">";
	color: $breadcrumbs-color;
	padding-left: 0.5em;
	padding-right: 0.25em;
}

.breadcrumbs li.last:after {
	content: "";
}


//////////////////////////////////////////////
/// site titel
//////////////////////////////////////////////

.site-title {
	padding: 1em  0;
	margin:0;
		font-size: px2rem(24);
		font-weight: normal;
    line-height: 1.3;

  a {
    color: $black;
    &:hover {
      color: $black;
      text-decoration: none;
    }
  }
}
/////////////////////////////////////////////
//  main content and sidebar
/////////////////////////////////////////////


.body {
	padding: 1em 12px;
  background: $white;
	@include clearfix;
	clear: both;
}

.main-content {
	h1 {
    font-size: px2rem(18);
		margin-bottom: .75em;
	}
}

.main-content,
.sidebar {
	padding-bottom: 2em;

	ul {
		padding: 0;
		margin: .5em 0 .5em 1.2em;
		&.nav {
			margin-left: 0;
		}
	}
}

body.has-sidebar .main-content {
	@include breakpoint($small) {
		@include span(9);
	}
}

body.has-sidebar .sidebar {
	@include breakpoint($small) {
		@include span(3 last);
	}
}

//////////////////////////////////////////////
/// nav in body container
//////////////////////////////////////////////


.nav {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

.nav .nav {
	padding-left: 1.5em;
	list-style: disc;
}
.nav li {
	margin: 1em 0;
}

.nav-tree li {
	margin-top: 0;
	margin-bottom: 0;
}

.nav a {
	//font-weight: bold;
}

.nav-tree li a {
	color: $link-color;
}

.nav .current > a {
	//color: $link-color-active;
}

.sidebar .sub-nav {
  display: none;
  @include breakpoint($small) {
    display: block;
  }

  @include navWidget;

  a {
    color: $nav-link-color;
    font-size: px2rem(12);
    font-weight: normal;
    display: block;
    &:hover {
      text-decoration: none;
      color: $white;
    }

  }

  > ul > li > a {
    color: $white;
    font-size: px2rem(16);
    margin: 0 ;
    padding: 8px 10px;
  }
  ul {
    margin:0;
    padding: 0;
  }

  ul ul {
    border-top:1px solid darken($primary-color, 20%);
   // margin: 0 10px;
    padding: 10px 0 10px 0;
    li {
      margin: 0 ;
      padding: 2px 10px ;
      &.current > a {
        color:$white;
      }
    }
  }
}


//////////////////////////////////////////////
/// images
//////////////////////////////////////////////

.align_left {
	/* for images placed in rich text editor */
	float: left;
	margin: 0 1em 0.5em 0;
	//position: relative;
//	top: 0.5em;
	max-width: 50%;
}

.align_right {
	/* for images placed in rich text editor */
	float: right;
	margin: 0 0 0.5em 1em;
	max-width: 50%;
}

.align_center {
	/* for images placed in rich text editor */
	display: block;
	margin: 1em auto;
	//position: relative;
//	top: 0.5em;
}

/////////////////////////////////////////////
//  footer
/////////////////////////////////////////////

.footer {
	clear: both;
  background: $white;
  padding: 20px 12px 0 12px;
  ul {
	  list-style: none;
	}
  color: $white;
  a {
    color: $white;
  }

  .footer-widgets {
    margin: 0;
    padding:  10px;
    background: $primary-color;

	@include breakpoint($small) {
	    border-top-left-radius: 10px;
	    border-top-right-radius: 10px;
	}
	.item {

		&.utilities {
			clear: both;
			padding-top: 2em;
			text-align: center;

		}
		@include breakpoint($small) {

			&.utilities{
				clear: none;
				padding-top: 0;
				text-align: left;
			}
		}
	}
    @include breakpoint($small) {
      font-size: px2rem(12);
    }

    @include clearfix;

    .address {
      p,
      img {
        float: left;

      }
      p {
        margin-right: -78px;
      }
      @include breakpoint($small) {
        @include span(8 of 12);
      }
      ul {
        float: left;
        margin-left: 88px;
      }
    }
    .utilities {
      @include breakpoint($small) {
        @include span(3 of 12 last);


      }
    }
  }
}

//.additionals,
//.utilities {
//  margin: .5em 0;
//  li {
//    display: inline-block;
//    margin: .1em .5em .1em 0;
//    a {
//      font-weight: normal
//    }
//  }
//}

/////////////////////////////////////////////
//  utilities
/////////////////////////////////////////////

.edit {
	position: absolute;
	top: 0;
	right:0;
	a {
		text-decoration: none;
		font-size: 12px;
		display: block;
		background: darken($red, 20%);
		color: $white;
		padding: .5em .75em;
	}
}
.logout-link {
	text-align: right;
	a {
		text-decoration: none;
		font-size: 12px;
		display: inline-block;
		background: darken($red, 20%);
		color: $white;
		padding: .5em .75em;
	}
}

/////////////////////////////////////////////
//  mobile menu
/////////////////////////////////////////////
.mobile-header {
	background: $mobile-bg-color;
	@include breakpoint($small) {
		display: none;
	}
	.menu-toggle {
		font-size: 28px;
    line-height: 50px;
		color: $white;
		display: inline-block;
		padding: 0 20px;

	}
}
.mm-container {
	position: absolute;
  z-index: 300;
	top: 62px;
	left: 12px;
	right: 12px;
	background: $mobile-bg-color;

	form.search {
		float: none;
		width: 50%;
		background: $mobile-bg-color;
		padding: .5em;
	}
}
.mobile-menu {
	ul ,li, a{
		background: $mobile-bg-color;
		transition: background 0 ease;
	}
	li {
		a {
			color: $nav-link-color;
			padding: 9px  12px;
			display: block;
			border-bottom: 1px solid $mobile-border-color;
		}
    &.current > a,
    &.active > a {
      color: $white;
      font-weight: bold;
    }
	}
	li li a {
		padding-left: 36px;
    font-size: 14px;
	}


}
.page-1 .mobile-menu .topnav> .nav-item-1>a {
  color: $white;
  font-weight: bold;
}

/////////////////////////////////////////////
//  form
/////////////////////////////////////////////

input[type=text],
input[type=email],
textarea {
	border: 1px solid $primary-color;
  -webkit-appearance: none;
	padding:  8px 10px;
	display: block;
	width: 400px;
	max-width: 100%;
	font-size: 16px;
	line-height: 1.1;
	font-family: "Helvetica", Arial, sans-serif;
}
input[type=checkbox] {
	margin-right: 8px;
}
textarea {
	height: 200px;

}
input[type=submit],
button {
	display: inline-block;
	margin: 20px 0;
	padding: 12px 18px;
	border: 1px solid $primary-color;
	background: $primary-color;
	color: $white;
	transition: background 200ms ease;
	cursor: pointer;
   -webkit-appearance: none;
	&:hover {
		background: lighten($primary-color, 10%);
	}
}
.Inputfields {
	> .Inputfield {
		margin-bottom: 8px;
	}
}
.InputfieldCheckbox {
	.InputfieldHeader {
		display: none;
	}
}
.error {
	color: red;
}
// honeypot spam protection
#wrap_Inputfield- {
	display: none;
}
.InputfieldStateRequired label:after {
	content: " *";
	color: $primary-color;
}
.ui-state-error {
	color: $red;
}

iframe.youtube {
  min-width: 100%;
  max-width: 100%;
}

.homepage {
  .main-content .rte p:first-child {
    font-family: "Georgia", Palatino, Times, serif;
    font-size: px2rem(16);
    line-height: 1.3;
    color: $white;
    background: $primary-color url(../images/intro-bg.jpg) 0 0;
    padding: 10px;
    border-radius: 8px;
  }
  iframe {
    margin: 12px 0;
  }
}

.events-archives {
  margin: 2em 0 0 0;
  padding: 2em  0 0 0;
  border-top: 1px solid $border-color;
  @include clearfix;
  p {
    font-size: px2rem(16);
    @include breakpoint($small) {
      font-size: px2rem(14);
    }
  }
  ul.archive-by-year {
    list-style: none;
    margin: .5em 0;
    li {
      margin: 0 0 1em 0;
      @include breakpoint($small) {
        margin: 0 0 .5em 0;
      }
	  &.current {
		  a {
			  font-weight: bold;
		  }
	  }
    }
  }
}

h2.title-archives {
	font-size:px2rem(18);
	margin: 0 0 1em 0;
}

.archives,
.presse-listing,
.events {

  h2 {
    font-size: px2rem(16);
    margin: 0 0 .5em 0;
  }
  h3 {
    font-size: px2rem(16);
    @include breakpoint($small) {
      font-size: px2rem(14);
    }

    margin: 0 0 .25em 0;
  }
  li {
    background: url(../images/flower.jpg) no-repeat 50% bottom;
    padding: 24px 0 50px 0;

    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      background-image: none;
      padding-bottom: 10px;
    }


  }
}
ul.organs {
	.main-content & {
		margin-top: px2rem(20);
		padding-top: px2rem(20);
		border-top: 1px solid $border-color;
	}
    h2 {
      font-size: px2rem(16);
      margin: 0 0 .5em 0;
    }
    h3 {
      font-size: px2rem(16);
      @include breakpoint($small) {
        font-size: px2rem(14);
      }
	}
	@include clearfix;
	li {
		clear: both;
		float: left;
		width: 100%;
		margin-bottom: px2rem(20);
		.image {
			@include span(3 of 9);
		}
		//.abstract {
//			@include span(6 of 9 last)
//		}
	}
}

ul.vorstand {
    list-style: none;
    margin: 10px 0;
    padding: 0;
    float: left;
    width: 100%;
    clear: both;
}

ul.vorstand li {
    margin: 10px 0;
    float: left;
    width: 100%;
    clear: both;
}
//////////////////////////////////////////////
/// file icons
//////////////////////////////////////////////
a[href $='.pdf']:before {
	@include fa;
  content: "\f1c1";
  margin-right: 6px;
}

a[href ^="mailto"]:before {
	@include fa;
  content: "\f003";
  margin-right: 6px;
}

a[href $='.docx']:before,
a[href $='.doc']:before {
	@include fa;
  content: "\f1c2";
  margin-right: 6px;
}

.main-content a[href^="http"]:after {
	@include fa;
  content: "\f08e";
  margin-left: 6px;
}


/*********************************************************************
 * 5. Media queries for responsive layout
 *
 */

@media only screen and (max-width: $small) {
	/* mobile layout */

	body,
	td,
	textarea {
		font-size: 100%;
	}
	.align_left, .align_right, .align_center {
		display: block;
		float: none;
		margin: 1em auto;
		max-width: 100%;
	}

}

@media only screen and (min-width: $large) {
	/* extra-wide desktop layout */

	body, td, textarea {
		font-size: 115%;
	}
}

@media print {
  body {
    background-color: #fff;
    background-image: none;
  }
  .mobile-menu,
  .mobile-header,
  .mm-container,
  .top-bar,
  .footer .utilities,
  .footer-widgets img {
    display: none !important;
  }
  .footer .footer-widgets .address ul {
    margin-left:0;
  }
}