/* Stylesheet by WebBear WebDesign, Hans-Jakob Bollinger, Sommazzistrasse 9, CH-3008 Bern, www.webbear.ch 
------------------------------------------------*/
body {
	font: 12pt/1.3em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

/* @group resets */

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

:focus {
	outline: 0;
}
/* @end */

/* @group no display */

#Accessibility {
	display: none;
}

/* @end */


/*-----------------------------------------------
 Die Grille sagt, ich mag dich sehr, du grosser, dicker Grizzlybär. */